body {
	height: 100%;
	margin: 0;
	background-color: #f5f5f5;
}

a {
    color: black;
    text-decoration: none;
}

a:hover 
{
     color: black; 
     text-decoration:none; 
     cursor:pointer;  
}
